<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("micropost_form.placeholder") %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: Settings.img.valid %>
  </span>
  <%= f.submit t("micropost_form.button_text"), class: "btn btn-primary" %>
<% end %>
